---
layout: page
---

<style>
  figure {
  position: relative;
  float: left;
  overflow: hidden;
  min-width: 280px;
  max-width: 280px;
  height: 164px;
  /*background: #3085a3;*/
  text-align: center;
  cursor: pointer;
}
</style>

{% include contact.html %}
{% include how_it_works.html %}

{% for video in site.data.videos %}
  {% assign mod = forloop.index | modulo:3 %}
  {% case mod %}
    {% when 1 %}
      <div class="row video_div" style="margin-top: 2%">
        {% include video_screen.html %}
    {% when 2 %}
        {% include video_screen.html %}
    {% when 0 %}
        {% include video_screen.html %}
      </div>
  {% endcase %}
{% endfor %}


