<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">

  <title>
      {{ site.title }} &middot; {{ site.tagline }}
  </title>

  <meta name="description" content="{{ site.site_description }}">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="public/css/normalize.css">
  <link rel="stylesheet" href="public/css/skeleton.css">
  <link rel="stylesheet" href="public/css/custom.css">

  <link rel="stylesheet" href="public/css/magnific-popup.css"> 

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="public/images/favicon.ico">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
  <script src="public/js/vendor/jquery.magnific-popup.js"></script>
  <script src="public/js/main.js"></script>

  <!-- google site verification
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="google-site-verification" content="dqe3Eux5BLaaec7BrEqqWEX5DJG6eoyxLM74QPhfGhI" />

</head>
