<div class="row how_it_works_div">
	<div class="twelve columns">
	<p>
	 We create a video, which will inspire your customers to buy and enrich you. Each project is a unique quest and we do our best to make high quality marketing tool. We have a positive experience of cooperation with different companies from different directions. We find beauty in your everyday simplicity. We have a good education & big experience in video and photo. We are effective production, so our prices are justified. </p>
    
    <h3>
	About video marketing</h3>
	<p>
	2 minutes video show all information in beautiful way. It saves time of your customers. And they start to trust your brand.
	Each business needs a customers from the Internet. A text on a site (usually) read about 2-7% of visitors. Our company helps to catch the attention (and) shows things that are really needed to know about your business.
	We will show beauty process, special treatment, emotions, service and atmosphere within the framework of unique interesting story. It makes people make an easy choice of your service, because they have already seen you before. 
	Nowadays, video content makes brand, promotes brand in internet 24/7 and protects from evil spirits :)</p>
    
    <h3>
	How do we work</h3>
	<p>
	You tell us about business and needs. We learn, think and invent ideas of promotion. We can request a 3D or animation ideas. Afterwards we write a script, which is always visible in Google Docs. A shooting usually lasts about 2 days as we think over all the details in advance. We organise the whole shooting process and postproduction process: editing, background audio, corporate identity etc.. One video project takes from couple of days to couple of weeks. Lets make tool for happy customers and reach business.</p>
	</div>
</div>
