<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <div class="container">
        <img class="main_logo" alt="videodillers logo" src="public/images/logo.png">
        <div class="main_logo_text">
          <a href="#home" id="home">
            <div class="main_logo_video">
              <span class="f_color">VIDEO</span>
            </div>
            <div class="main_logo_dillers">
              <span class="s_color">DILL</span><span class="f_color" style="letter-spacing: -3px">E</span><span class="s_color">RS</span>
            </div>
          </a>
        </div>
      </div>

      <div class="container">
        <nav class="navbar">
          <div class="container">
            <div class="menu_border">
            </div>
            <ul class="navbar-list">
              <li class="navbar-item"><a class="f_color navbar-link" href="#who-we-are" id="who_we_are">{{ site.text_1 }}</a></li>
              <li class="navbar-item"><a class="f_color navbar-link" href="#how-it-works" id="how_it_works">{{ site.text_2 }}</a></li>
              <li class="navbar-item"><a class=" f_color navbar-link" style="margin-right: 0;" id="contact" href="#contact">{{ site.text_3 }}</a></li>
            </ul>
          </div>
        </nav>

        <div class="slogan">
          <div class="container">
            <ul class="slogan-list">
              <li class="slogan-item">{{ site.text_4 }}</li>
              <li class="slogan-item">{{ site.text_5 }}</li>
              <li class="slogan-item">{{ site.text_6 }}</li>
            </ul>
          </div>
        </div>

        {{ content }}

      </div>
    
    {% include footer.html %}

  </body>
</html>
